/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.logoContainer{
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 5em;
    padding: 1em;
    width: 25em;
    height: 7em;
}

.searchForm{
    margin: 0 auto;
    padding: 1em;
    width: 40em;
    height: 5em;
}


.searchBar{
    height: 2em;
    width: 37em;
    padding-left: 5px;
}

.searchResultContainer{
    margin: 0 auto;
    margin-top: 2em;
    padding-top: 2px;
    padding-bottom: 3em;
    width: auto;
    max-width: 68em;
    height: auto;
    background-color: #fff;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px; 
}

.searchResultTable{
    margin-left:auto; 
    margin-right:auto;
    text-align: left;
    width: 100%;

}

.searchResult{
    font-size: 24pt;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    border-bottom: 1pt solid black; 
	
}

.searchInformation{
    text-align: center;
    color: red;
}
	

body{
    font-family: 'Roboto', sans-serif !important;
    color: #343538; 
    background-color: #F0F2F2;
    padding-top: 70px;
}

.mainContainer {
    margin: 0 auto; 
    width: 100%;
    height: 100%;
    /*color: #FDFDFD;*/
}

a {
    text-decoration: none;
    color: #343538;
}

.headerContent {
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #4456B0;
}

a {
    text-decoration: none;
    color: #2A3A48;
}


.navbar {
    background-color: #F0F2F2;
    border-color: transparent !important;
    border-radius: 0px !important; 
}

.nav li > a:hover {
    color: #586CDE !important;
}

.navbar-brand:hover {
    color: #586CDE !important;
}

/*.menuButton {
    display: inline;
    width: 5em;
    height: 5em;
    text-align: center;
    padding: 1em;
    padding-left: 15px;
    padding-right: 15px;
}

.menuButton:hover, .menuButton:hover > a {
    background-color: #586CDE;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
*/

.badge {
    background-color: #586CDE !important;
}

.formContentContainer {
    margin: 0 auto;
    margin-top: 2em;
    padding-top: 2px;
    padding-bottom: 3em;
    padding-left: 4em;
    padding-right: 4em;
    width: 100%;
    max-width: 47em;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
}

input, textarea {
    font-size: 1em;
    border: solid 1px;
    border-color: #D8D8D8;
    width: 100%;
    height: auto;
    margin: 3px;
    text-align: left;
}

input:focus, textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border: solid 1px;
    border-color: #586CDE;
}

input:hover, textarea:hover {
    border: solid 1px;
    border-color: #586CDE;
    animation: none;
}

.radioLabel input {
   width: auto;
}

.button input {
    width: 10em;
    height: 2em;
    text-align: center;
    margin: 0 auto;
    outline: none !important;
    color: white;
    border: none;
    background-color: #586CDE !important;
}


.button input:hover {
    outline: none !important;
    color: white;
    border: none;
    background-color: #4456B0 !important;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    top: -2px;
}


.recipeMainImg > img {
    margin: 0 auto;
    display: block;
}


.recipeDescrip {
    padding-top: 5px;
}

.recipeTime {
    padding-top: 2px;   
}

.recipeInstructions {
    padding-top: 1px;
}

.userReviewPost {
    padding-top: 2px;
}

.recipeAuthor {
    text-align: center;
    color: white;
    padding: 2em;
    margin-left:  20em;
    margin-bottom: 12em;
    width: 10em; 
    background-color: #586CDE;
}

.recipeAuthor:hover {
   outline: none !important;
    color: white;
    border: none;
    margin-left:  20em;
    background-color: #4456B0 !important;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    top: -2px;   
}

.userReviewTable {
    width: 100%;
    padding: 5px;
    margin-bottom: 25px;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
    inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
}

h3 {
    color: #4456B0;
}

#description {
    padding-top: 10em;
}

#instructions {
    padding-top: 10px !important;
}

#comment {
    font-family: 'Bad Script', cursive;
    font-size: 1.2em;
}

/* STEVE'S RECIPE SUBMISSION SPECIFIC STUFF
the recipe submission version of formContent*/
.submissionCard {
    margin: 0 auto;
    margin-top: 2em;
    padding: 5em;
    width: 100%;
    min-height: 13em;
    min-width: 5em;
    max-width: 47em;
    background-color: #fff;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
   /* border-radius: 10px;        /* Added */
}

.indexButtonGroup{
    margin: 0 auto;
    padding-left: 7em;
    width: 100%;
    height: auto;
}

.button {
    margin-top: 15px;
}

#ingredientColumn{
	float: left;
	width: 55%;
	padding: 5px;
}

#quantityColumn{
	float: left;
	width: 15%;
	padding: 5px;
}

#unitColumn{
	width: 20%;
	float: left;
	padding: 5px;
}

#addIngredient {
    width: 15em;
    text-align: center;
    margin: 0 auto;
    outline: none !important;
    color: white;
    border: none;
    background-color: #586CDE !important;
   /* border-radius: 5px; /* Added this*/
    clear: both;
    /* float: right; */
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

#addIngredient:hover {
    background-color: #4456B0 !important;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
}

#addInstruction {
    width: 15em;
    text-align: center;
    margin: 0 auto;
    outline: none !important;
    color: white;
    border: none;
    background-color: #586CDE !important;
   /* border-radius: 5px; /* Added this*/
    clear: both;
    /* float: right; */
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

#addInstruction:hover {
    background-color: #4456B0 !important;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
}

/*END SUBMISSION SPECIFIC STUFF*/

