

.logoContainer{
    margin: 0 auto;
    margin-top: 5em;
    padding: 1em;
    width: 25em;
    height: 5em;
}

.searchForm{
	margin: 0 auto;
	padding: 1em;
    width: 25em;
    height: 5em;
}

.searchBar{
	height: 2em;
	width: 27em;
	padding-left: 5px;
}

.searchResultContainer{
	margin: 0 auto;
    margin-top: 2em;
    padding-top: 2px;
    padding-bottom: 3em;
    width: auto;
    max-width: 68em;
    height: auto;
    background-color: #fff;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px; 
}

.searchResultTable{
    margin-left:auto; 
    margin-right:auto;
	text-align: left;
	width: 100%;

}

.searchResult{
	font-size: 24pt;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .5em;
	border-bottom: 1pt solid black; ;
	
}

.searchInformation{
	text-align: center;
	color: red;
}
	

body{
    font-family: 'Roboto', sans-serif;
    color: #343538; 
    background-color: #F0F2F2;
}

.mainContainer {
    margin: 0 auto; 
    width: 100%;
    height: 100%;
    /*color: #FDFDFD;*/
}

a {
    text-decoration: none;
    color: #343538;
}

.headerContent {
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #4456B0;
}

a {
    text-decoration: none;
    color: #2A3A48;
}


.navbar {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    margin: 0 auto;
    float: none;
    width: 90%;
    min-width: 40em;
    height: auto;
    text-align: left;
    background-color: #F0F2F2;
}

.menuButton {
    display: inline;
    width: 5em;
    height: 5em;
    text-align: center;
    padding: 1em;
    padding-left: 15px;
    padding-right: 15px;
}

.menuButton:hover, .menuButton:hover > a {
    background-color: #586CDE;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.formContentContainer {
    margin: 0 auto;
    margin-top: 2em;
    padding-top: 2px;
    padding-bottom: 3em;
    padding-left: 4em;
    padding-right: 4em;
    width: 100%;
    max-width: 47em;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
}

input, textarea {
    font-size: 1em;
    border: solid 1px;
    border-color: #D8D8D8;
    width: 100%;
    height: auto;
    margin: 3px;
    text-align: left;
}

input:focus, textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border: solid 1px;
    border-color: #586CDE;
}

input:hover, textarea:hover {
    border: solid 1px;
    border-color: #586CDE;
    animation: none;
}

.radioLabel input {
   width: auto;
}

.button input {
    width: 10em;
    height: 2em;
    text-align: center;
    margin: 0 auto;
    outline: none !important;
    color: white;
    border: none;
    background-color: #586CDE !important;
}


.button input:hover {
    outline: none !important;
    color: white;
    border: none;
    background-color: #4456B0 !important;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    top: -2px;
}


.recipeMainImg > img {
    margin: 0 auto;
    display: block;
}


.recipeDescrip {
    padding-top: 5px;
}

.recipeTime {
    padding-top: 2px;   
}

.recipeInstructions {
    padding-top: 1px;
}

.userReviewPost {
    padding-top: 2px;
}

.recipeAuthor {
    text-align: center;
    color: white;
    padding: 2em;
    margin-left:  20em;
    margin-bottom: 12em;
    width: 10em; 
    background-color: #586CDE;
}

.recipeAuthor:hover {
   outline: none !important;
    color: white;
    border: none;
    margin-left:  20em;
    background-color: #4456B0 !important;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
    position: relative;
    top: -2px;   
}

.userReviewTable {
    width: 100%;
    padding: 5px;
    margin-bottom: 25px;
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
    inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
}

h3 {
    color: #4456B0;
}

#description {
    padding-top: 10em;
}

#instructions {
    padding-top: 10px !important;
}

#comment {
    font-family: 'Bad Script', cursive;
    font-size: 1.2em;
}

/* STEVE'S RECIPE SUBMISSION SPECIFIC STUFF
the recipe submission version of formContent*/
.submissionCard {
    margin: 0 auto;
    margin-top: 2em;
    padding: 5em;
    width: 100%;
    min-height: 13em;
    min-width: 5em;
    max-width: 47em;
    background-color: #fff;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
   /* border-radius: 10px;        /* Added */
}

.button {
    margin-top: 15px;
}

#ingredientColumn{
	float: left;
	width: 55%;
	padding: 5px;
}

#quantityColumn{
	float: left;
	width: 15%;
	padding: 5px;
}

#unitColumn{
	width: 20%;
	float: left;
	padding: 5px;
}

#addIngredient {
    width: 15em;
    text-align: center;
    margin: 0 auto;
    outline: none !important;
    color: white;
    border: none;
    background-color: #586CDE !important;
   /* border-radius: 5px; /* Added this*/
    clear: both;
    /* float: right; */
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

#addIngredient:hover {
    background-color: #4456B0 !important;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
}

#addInstruction {
    width: 15em;
    text-align: center;
    margin: 0 auto;
    outline: none !important;
    color: white;
    border: none;
    background-color: #586CDE !important;
   /* border-radius: 5px; /* Added this*/
    clear: both;
    /* float: right; */
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

#addInstruction:hover {
    background-color: #4456B0 !important;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
}

/*END SUBMISSION SPECIFIC STUFF*/

