<html>
<head>
    <meta charset="utf-8" content="html/text"/>
    <title>Recipes</title> 
	  <link href="stylesheets/style.css" rel="stylesheet"  type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="mainContainer">   
		<div class="navbar">
      {% if login_btn != '' %}
			<div class="menuButton"><a href="{{ login_btn }}">Login</a></div>
      {% else %}
      <div class="menuButton"><a href="{{ logout_btn }}">Logout</a></div>
      {% endif %}
			<div class="menuButton"><a href="#">Recipes</a></div>
			<div class="menuButton"><a href="#">About</a></div>
			<div class="menuButton"><a href="#">Features</a></div>
   	 <div class="menuButton"><a href="http://recipes1520.appspot.com/recipe-submit">Submit Recipe</a></div>
			<div class="menuButton"><a href="http://recipes1520.appspot.com/">Home</a></div>
     
		</div> <!-- END NAVBAR -->
     
		<div class="logoContainer"><img src="stylesheets/logo.png"></div>
		<div class="searchForm">
			<form action="review" method="GET">
				<input class="searchBar" type="text"><br><br>
				<div class="button">
					&nbsp <input class="searchButton" type="submit" value="Search"> 
					&nbsp <input class="searchButton" type="submit" value="I'm Feeling Hungry"><br>
				</div>
			</form>
		</div>
</body>
</html>