{% extends "base.html" %}
{% block bodycontent %}

<div>
	{% for ing in ingredients %}
		{{ing}}
	{% endfor %}
	
				 <h2> {{ recipe.title }}</h2> 
                  <!-- INGREDIENT LIST -->
                    <div class="ingredientList">
                        <h3>List of ingredients</h3>
			 <table>
			    <tr>
				<td>
				    <ul>
						{% for ing in recipe.ingredients %}
	
					<li> {{ ing }}</li>
						{% endfor %}
				    </ul>
				</td>
			    </tr>
			</table> 

</div>

{% endblock %}