{% extends "base.html" %}
{% block titlecontent %}
<title>{{recipe.title}} - CookUp</title>
{% endblock %}
{% block bodycontent %}
<script type="text/javascript">
	
	function getIng( ing ){
		var splitted = String(ing).split("_");
		var ingredient = splitted[1];
		document.write(String(ingredient));
	}
	function getUnits( ing ){
		var splitted = String(ing).split("_");
		var quant_and_units = splitted[0];
		document.write(String(quant_and_units));
	}
</script>
<div class="headerContent">
</div>
<!--  RECIPE AND REVIEW FORM CONTENT CONTAINER -->
<div class="formContentContainer">

	<!-- RECIPE CONTENT CONTAINER-->
	<div class="recipeContent">
		<div class="headerContent">
			<h2> {{recipe.title}} </h2>
		</div>
		<!-- RECIPE MAIN IMAGE -->
		<div class="recipeMainImg">
			<img src="{{imgURL}}" alt="{{recipe.title}}" height="400" width="400"/>
			<!-- <img src= {{ recipe.image }} alt="{{ recipe.title }}" -->
		</div>
		<!-- INGREDIENT LIST -->
		<div class="ingredientList">
			<h3>List of ingredients</h3>
			<!-- <table>
				<tr>
					<td>
						<ul>
							{% for ingredient in recipe.ingredients %}
							<li> {{ingredient}} </li>
							{% endfor %}
						</ul>
					</td>
					<td>   
						<table class="recipeAuthor">
							<tr>
								<td>Author: {{recipe.user_id}}</td>       
							</tr>
							<tr>
								<td>Rating: </td>
								<td>5</td>
							</tr>
						</table>
					</td>
				</tr>
			</table> -->
                <ul class="list-group">
                {% for ingredient in recipe.ingredients %}
                  <li class="list-group-item" >
                    <span id="quantity" class="badge">
                   	 <script>getUnits("{{ingredient}}")</script>
                    </span>
                 	<script>getIng("{{ingredient}}")</script>
                  </li>
                  {% endfor %}
                </ul>

		</div> <!-- END INGREDIENT LIST -->
		<!-- TIME ESTIMATION -->
		<div class="recipeTime">
			<h3>Time estimation</h3>
			<table>
				<tr>
					<td>Preparation:</td><td>{{recipe.cook_time_est}}</td>
				</tr>
				<tr>
					<td>Cooking:</td><td>{{recipe.prep_time_est}}</td>
				</tr>
			</table>
		</div> <!-- END TIME ESTIMATION -->
		<!-- RECIPE DESCRIPTION -->
		<div class="recipeDescrip">
			<h3>Description</h3>
			<p> {{recipe.description}} </p>
		</div>
		<div class="recipeInstructions">
			<h3> Instructions </h3>
			<ul>
				{% for instruction in recipe.instructions %}
				<li> {{instruction}} </li>
				{% endfor %}
			</ul>
		</div>
	</div> <!-- END RECIPE DESCRIPTION -->
	{% endblock %}