<html>
    <head>
        <meta charset="utf-8" content="html/text"/>
        <title>Recipe Submission</title>
        <!-- <link href="css_reset.css" type="text/css" rel="stylesheet"/> -->
        <link href="stylesheets/style.css" type="text/css" rel="stylesheet"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    </head>
	<body>
		<div class="mainContainer"> <!-- MAIN CONTAINER -->
            <!-- NAVBAR -->
            <div class="navbar">
        			<div class="menuButton"><a href="http://recipes1520.appspot.com/login">Login</a></div> 
        			<div class="menuButton"><a href="#">Recipes</a></div>
        			<div class="menuButton"><a href="#">About</a></div>
        			<div class="menuButton"><a href="#">Features</a></div>
           	 <div class="menuButton"><a href="http://recipes1520.appspot.com/recipe-submit">Submit Recipe</a></div>
        			<div class="menuButton"><a href="http://recipes1520.appspot.com/">Home</a></div>
            </div> <!-- END NAVBAR -->
            <div class="headerContent">
                <h2> Recipe Submission</h2>
            </div>
			<div class="submissionCard"><!--start of virtual recipe card-->
				<form method="post">
					<div id="ingredientColumn">
						<p>Ingredients</p>
						<input type="text" class="ingInput" placeholder="ingredient" name="ingredients">
					</div>
					<div id="quantityColumn">
					<p>Quantity</p>
						<input type="text" class="qInput" placeholder="quantity" name="quantities">
					</div>
					<div id="unitColumn">
					<p>Units</p>
						<input type="text" class="uInput" placeholder="units e.g. tsp, tbsp, cups..." name="units">
					</div>
					<div id="addIngredient" onclick="addIngredient();">
						<p>Add Ingredient</p>
					</div>
					<textarea rows="4" cols="50" placeholder="Instructions" name="comments"></textarea>
					<div class="button">
                        <input type="submit" value="submit">
                    </div>
				</form>
			</div><!--end of virtual recipe card-->
		</div><!--end of main container-->
		<!--script to add ingredients-->
		<script type = "text/javascript">
			function addIngredient(){
				var ing = document.createElement("input");
				ing.type = "text";
				ing.className ="ingInput";
				var parent = document.getElementById("ingredientColumn");
				parent.appendChild(ing);
				
				var q = document.createElement("input");
				q.type = "text";
				q.className ="qInput";
				var parent = document.getElementById("quantityColumn");
				parent.appendChild(q);
				
				var u = document.createElement("input");
				u.type = "text";
				u.className ="uInput";
				var parent = document.getElementById("unitColumn");
				parent.appendChild(u);
			}
		</script>
	</body>
</html>