<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" content="html/text"/>
        <title>Sign Up</title>
        <link type="text/css" rel="stylesheet" href="stylesheets/another-style.css"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    </head>
        
    <body>
        
        <div class="mainContainer">
            <div class="navbar">
                <div class="menuButton"><a href="http://recipes1520.appspot.com/login">Login</a></div> 
                <div class="menuButton"><a href="#">Receipes</a></div>
                <div class="menuButton"><a href="#">About</a></div>
                <div class="menuButton"><a href="#">Features</a></div>
                <div class="menuButton"><a href="http://recipes1520.appspot.com/">Home</a></div>
            </div>
            
            <div class="formContent">
            <!--<div class="sign"> Sign Up</div>-->
            <center class="sign">Sign up</center>
            <br><br>
            <form method=post action="register">
                <input class="regi" type="text" name="user" placeholder="user name">
                <br><br>
                <input class="regi" type="text" name="email" placeholder="email address">
                <br><br>
                <input class="regi" type="text" name="password"  placeholder="password">
                <br><br>
                <input class="regi" type="text" name="r_password"  placeholder="repeat password">
                <br><br>
                <div class="button">
                    <input type="submit" value="Sign up">
                </div>
            </form>
            </div>
                
                
            
        </div>
        
        
    </body>
</html>