{% extends "base.html" %}
{% block bodycontent %}
            <div class="formContent">
            <!--<div class="sign"> Sign up</div>-->
            <center class="sign">Sign In</center>
            <br><br>
            <form method="post" action="login">
                <input class="regi" type="text" name="user" placeholder="user name">
                <br><br>
                <input class="regi" type="text" name="password" placeholder="password">
                <br><br>
                <div class="button">
                    <input type="submit" value="Sign in">
                </div>
                <br>
                <div>Don't have an account?
                    <a class="signl" href="http://recipes1520.appspot.com/register">Sign up here</a>
                </div>
            </form>
            </div> 
{% endblock %}